:root {
    /* Colors */
    --teal-500: hsl(179, 62%, 43%);
    --green-400: hsl(71, 73%, 54%);

    --teal-100: hsl(204, 43%, 93%);
    --gray-500: hsl(218, 22%, 67%);

    /* Typography */
    --font-family-base: 'Karla', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}
h1 , h3, h4, p , li{
    line-height: 1.5;
}
h1 {
    color: var(--teal-500);
    font-size: 1.67rem;
}
h2 {
    color: var(--green-400);
    font-size: 1.25rem;
}
h3 {
    font-size: 1.08rem;
}
h4 {
    font-size: 1.35rem
}
h4 span {
    font-size: 1rem;
    font-weight: var(--fw-regular);
}
p {
    color: var(--gray-500);
    font-size: 1rem;
}
button {
    border: none;
    border-radius: 5px;
    padding: .8rem 3rem;
    box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.01),
            4px 4px 8px rgba(0, 0, 0, 0.2),
            0 6px 20px rgba(0, 0, 0, 0.12);

}
ul {
    list-style: none;
}
li {
    font-size: 1rem;
    color: var(--gray-500);
}

body {
    display: grid;
    grid-template-columns: 1fr;

    padding: 1em;
    min-height: 100vh;
    place-items: center;
    place-content: center;
    background-color: var(--teal-100);

}
main {
    display: grid;
    border-radius: 5px;
    max-width: 600px;
    box-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.01),
            4px 4px 8px rgba(0, 0, 0, 0.2),
            0px 6px 20px rgba(0, 0, 0, 0.12);

}
.community-container {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.price-grid {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }
}
.price-card , .why-us-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--teal-100);
    opacity: .75;
    padding: 1.5em;
}
.price-card p , .why-us-card li {
    font-weight: var(--fw-regular);
    color: rgba(255, 255, 255, 0.7);
}
.price-card h4 {
    display: flex;
    gap: .5em;
}
.tag {
    font-weight: var(--fw-regular);
    color: rgba(255, 255, 255, 0.5);
}
.price-card button {
    background-color: var(--green-400);
    color: var(--teal-100);
}
.price-card button:hover {}
.price-card {
    background-color: #1f9694;

}
.why-us-card {
    background-color: var(--teal-500);
}