:root {
    /* Palette */
    --gold-500: hsl(31, 77%, 52%);
    --cyan-800: hsl(184, 100%, 22%);
    --green-950: hsl(179, 100%, 13%);
    --white-75: hsla(0, 0%, 100%, 0.75);
    --gray-100: hsl(0, 0%, 95%);

    /* Semantic */
    --page-bg: var(--gray-100);
    --text-heading: var(--gray-100);
    --text-body: var(--white-75);
    --btn-text: var(--gray-100);

    /* Fonts */
    --ff-body: 'Lexend Deca', sans-serif;
    --ff-heading: 'Big Shoulders Text', sans-serif;

    /* Typography */
    --fw-body: 400;
    --fw-heading: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
h2 {
    font-family: var(--ff-heading);
    font-size: 2rem;
    color: var(--text-heading);

}
p , button {
    font-family: var(--ff-body);
    line-height: 1.8;
    color: var(--text-body);
    font-size: .9rem;
}
button {
    padding: .5em 2em;
    width: fit-content;
    border-radius: 25px;
    border: 2px solid var(--gray-100);
    font-size: .875em;
    margin-top: auto;
    cursor: pointer;
}
button:hover {
    color: var(--white-75) !important;
    background: none;

}
body {
    background-color: var(--page-bg);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 30px;
    place-content: center;
    place-items: center;
    padding: 2em 1em;
}
main {
    max-width: 850px;
}
.card-container  {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 605px) {
        grid-template-columns: repeat(3,1fr);
    }
}
.card-container div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3.5em 2em;
    color: var(--text-body);

}
.card-container img {
    width: 4em;
}
.card-sedans {
    background-color: var(--gold-500);
}
.card-sedans button {
    color: var(--gold-500);
}
.card-suvs {
    background-color: var(--cyan-800);
}
.card-suvs button {
    color: var(--cyan-800);
}
.card-luxury {
    background-color: var(--green-950);
}
.card-luxury button {
    color: var(--green-950);
}
footer p {
    text-align: center;
    color: var(--cyan-800);
    font-size: .6rem;
    margin-top: 3em;
}
a {
    text-decoration: none;
    color: var(--green-950);
    font-size: .7rem;
}