:root {
    /* Colors */
    /* Palette */
    --navy-950: hsl(233, 47%, 7%);    /* main background */
    --blue-850: hsl(244, 37%, 16%);   /* card background */
    --purple-500: hsl(277, 64%, 61%);    /* accent */
    --white-100: hsl(0, 0%, 100%);               /* main heading, stats */
    --white-100-alpha-75: hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --white-100-alpha-60: hsla(0, 0%, 100%, 0.6);  /* stat headings */

    /* Typography */
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Lexend Deca', sans-serif;

    --fs-body: 15px;

    --fw-regular: 400;
    --fw-bold: 700;

    /* Semantic */
    --page-bg: var(--navy-950);
    --card-bg: var(--blue-850);
    --text-heading: var(--white-100);
    --text-body: var(--white-100-alpha-75);
    --text-stats: var(--white-100-alpha-60);
    --accent: var(--purple-500);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--text-body);
}
h1, h2 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
    color: var(--text-heading);
}
h1 span {
    color: var(--accent);
    font-weight: var(--fw-bold);
}
h2 {
    font-size: 1.3rem;
    font-weight: var(--fw-bold);
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-body);
    font-weight: normal;
}
a {
    color: var(--text-body);
    cursor: pointer;
}
a:hover {
    color: var(--accent);
    font-weight: bold;
}
nav {
    font-size: .6rem;
    width: 100%;
    text-align: right;
    cursor: pointer;
    margin-bottom: 2em;
}
nav:hover {
    color: var(--green-700);
}
body {
    background-color: var(--page-bg);
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    place-items: center;
    place-content: center;
    min-height: 100vh;
    padding: 1.5em;
}
main {
    max-width: 1000px;

}
.stats-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    @media (min-width: 768px) {
        flex-wrap: nowrap;
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.75;

}
.card-image {
    width: 100%;
    background-color: var(--accent);
    @media (min-width: 768px) {
        order: 2;
        flex-basis: 50%;
        border-radius: 0 5px 5px 0;
    }
}
.stats-card-content {
    padding: 2em;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    @media (min-width: 768px) {
        order: 1;
        text-align: left;
        flex-basis: 50%;
        padding: 3em 4em 2em 2em;

    }

}
.stats-container {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;


    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    @media (min-width: 768px) {
        align-items: flex-start;
    }
}
.stat p {
    letter-spacing: 1px;
}
footer p {
    text-align: center;
    color: var(--text-body);
    font-size: .6rem;
    margin-top: 3em;

}

/*body {*/
/*    min-height: 100vh;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background-color: var(--page-bg);*/
/*    color: var(--text-body);*/
/*    font-family: var(--ff-primary);*/
/*    padding: 1em;*/
/*}*/
/*.card-image {*/
/*    order: 2;*/
/*    border: 1px solid red;*/
/*    background-color: var(--accent);*/
/*}*/

/*img {*/
/*    max-width: 100%;*/
/*    display: block;*/
/*    object-fit: cover;*/
/*    mix-blend-mode: multiply;*/
/*    opacity: 0.75;*/
/*}*/
/*.stats-card {*/
/*    background-color: var(--card-bg);*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.stats-card-content {*/
/*    padding: 1.5em;*/
/*    order: 1;*/
/*}*/

/*h1 {*/
/*    color: var(--text-heading);*/
/*    font-size: 1.75rem;*/
/*    line-height: 1.2;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*h1 span {*/
/*    color: var(--accent);*/
/*}*/

/*p {*/
/*    font-size: var(--fs-body);*/
/*    line-height: 1.6;*/
/*    margin-bottom: 2.5rem;*/
/*}*/

/*.stat h2 {*/
/*    color: var(--text-heading);*/
/*    font-size: 1.5rem;*/
/*    margin-bottom: 0.25rem;*/
/*}*/

/*.stat p {*/
/*    text-transform: uppercase;*/
/*    font-family: var(--ff-secondary);*/
/*    font-size: 0.75rem;*/
/*    letter-spacing: 1px;*/
/*    color: var(--text-stats);*/
/*    margin-bottom: 1.5rem;*/
/*}*/

/*.stat:last-child p {*/
/*    margin-bottom: 0;*/
/*}*/

/*@media (min-width: 435px) {*/
/*    .stats-card {*/
/*        display: flex;*/
/*    }*/
}