:root {
    /* Primary colors */
    --clr-pr-light-red: hsl(0, 100%, 67%);
    --clr-pr-orangey-yellow: hsl(39, 100%, 56%);
    --clr-pr-green-teal: hsl(166, 100%, 37%);
    --clr-pr-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --clr-gr-light-slate-blue: hsl(252, 100%, 67%);
    --clr-gr-light-royal-blue: hsl(241, 81%, 54%);

    --clr-gr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gr-persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral colors */
    --clr-ne-white: hsl(0, 0%, 100%);
    --clr-ne-pale-blue: hsl(221, 100%, 96%);
    --clr-ne-light-lavender: hsl(241, 100%, 89%);
    --clr-ne-dark-gray-blue: hsl(224, 30%, 27%);

    /* Typography */

    --ff-base: "Hanken Grotesk", sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
}
h1 {
    font-size: .9rem;
    font-weight: var(--fw-bold);
}
h2 {
    font-size: 1rem;
    color: var(--clr-ne-dark-gray-blue);
    font-weight: var(--fw-bold);
}
p {
    line-height: 1.6;
}
body {
    font-family: var(--ff-base);
    background-color: var(--clr-ne-pale-blue);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    @media (min-width: 550px) {
        place-items: center;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-ne-white);
    width: 100%;
    box-shadow:
        /* soft ambient shadow hugging edges */
            0 1px 2px hsla(224, 30%, 27%, 0.04),
                /* mid shadow for gentle lift */
            0 4px 8px hsla(224, 30%, 27%, 0.06),
                /* broad diffused shadow for depth */
            0 12px 24px hsla(224, 30%, 27%, 0.08);
    @media (min-width: 550px) {
        flex-direction: row;
        border-radius: 25px;
        overflow: hidden;
        max-width: 600px;
        margin: 1em;

    }

}
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 2em 3em;
    background: linear-gradient(to bottom, var(--clr-gr-light-slate-blue), var(--clr-gr-light-royal-blue));
    color: var(--clr-ne-light-lavender);
    border-radius: 0 0 25px 25px;
    @media (min-width: 550px) {
        flex-basis: 45%;
        border-radius: 25px;
    }
}
.result-container p {
    font-size: 0.8rem;
    color: var(--clr-ne-light-lavender);
    font-weight: var(--fw-medium);
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 2em 1em;
    border-radius: 50%;
    background: linear-gradient(var(--clr-gr-violet-blue), var(--clr-gr-persian-blue));
}
.result span {
    font-weight: var(--fw-extra-bold);
    font-size: 3.8rem;
    color: var(--clr-ne-white);
}
.result p {
    color: hsla(0, 0%, 100%,.5);
}
.result-remarks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

}
.result-remarks span {
    color: var(--clr-ne-white);
    font-weight: var(--fw-medium);
    font-size: 1.2rem;
}
.summary-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    @media (min-width: 550px) {
        flex-basis: 55%;
    }
}
.summary-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .8em;
}
.summary-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6em .8em;
    border-radius: 7px;
}
.summary-container ul li p {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.9rem;
}
.score {
    font-weight: var(--fw-bold);
    color: var(--clr-ne-dark-gray-blue);
}
.score span {
    color: hsla(224, 30%, 27%,.5);
}
.reaction {
    color: var(--clr-pr-light-red);
    background-color: hsla(0, 100%, 67%,.1);
}
.memory {
    color: var(--clr-pr-orangey-yellow);
    background-color: hsla(39, 100%, 56%,.1);
}

.verbal {
    color: var(--clr-pr-green-teal);
    background-color: hsla(166, 100%, 37%,.1);
}
.visual {
    color: var(--clr-pr-cobalt-blue);
    background-color: hsla(234, 85%, 45%,.1);
}
button {
    position: relative;
    isolation: isolate; /* keeps ::after contained */
    overflow: hidden;
    padding: .8em 1.5em;
    border-radius: 25px;
    border: none;
    font-weight: var(--fw-medium);
    font-size: 0.9rem;
    cursor: pointer;
    background-color: var(--clr-ne-dark-gray-blue);
    color: var(--clr-ne-white);
}
/* gradient layer */
button::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
            to bottom,
            var(--clr-gr-light-slate-blue),
            var(--clr-gr-light-royal-blue)
    );

    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

/* hover state */
button:hover::after {
    opacity: 1;
}
button:active {
    transform: translateY(1px);
}
footer {
    padding: 1em 0;
    width: 100%;
    @media (max-width: 550px) {
        background-color: var(--clr-ne-white);
    }
}
footer p {
    text-align: center;
    color: hsla(224, 30%, 27%,.5);
    font-size: .6rem;
}
footer a {
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-bold);
    cursor: pointer;
}
footer a:hover {
    color: var(--clr-ne-dark-gray-blue);
}