* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: hsl(0, 0%, 100%);
  font-size: .9rem;
  font-weight: 400;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  line-height: 2;

}
.place {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
body {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-rows: 1fr 30px;
  background-color: hsl(0, 0%, 8%);
  padding: 1.5em;
  min-height: 100vh;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 35%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-links-container {
  background: hsl(0, 0%, 12%);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  border-radius: 10px;
}
.social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.social-links a {
  text-decoration: none;
  color: white;
  background: hsl(0, 0%, 20%);
  text-align: center;
  padding: 0.9em 1em;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: block;

}
.social-links a:hover {
  background: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  font-weight: 700;

}
footer {
  margin-top: 2em;
}

